.orderpage-wrapper {
  margin: auto;
  margin-top: 1em;
  width: 1000px;
  height: 80vh;
  border: 2px solid black;
}

.orderpage-order-list {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.orderpage-order-item {
  border: 1px solid red;
  width: 25%;
  flex: 1 1 10px;
}

.orderpage-button-wrapper {
  height: 20%;
  border: 1px solid purple;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}