/* Checkbox fix */

.checkbox + .checkbox,
.radio + .radio {
  margin-left: 0.5em
}

.under-main-nav {
  display: flex;
  height: calc(100% - 4rem);
  width: 100%;
}

.main-container {
  height: 100vh;
}

.routed-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  height: 100%;
  width: calc(100% - 10rem);
}

#customer-info>h1 {
  font-size: 2rem;
  text-emphasis: bold;
}